.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.video {
  width: 640px;
  height: 480px;
  background-color: black;
}

@media screen and (max-width:1280px) { 
  .content {
    flex-direction: column;
  }

  .video {
    width: 90vw;
  }
}
